{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('new_order_shipment') }}">Ok</a><br/>
    <a href="{{ path('account') }}">Not ok</a><br/>
    <a href="{{ path('new_order_recipient') }}">< Back</a>
{% endblock %}


