{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('new_order') }}">Add new order</a><br/>
    <a href="/orders_in_progress">Orders in progress</a><br/>
    <a href="/addresses">Addresses</a><br/>
    <a href="/invoices">Open invoices</a><br/>
    <a href="{{ path('account') }}">My account</a><br/>
    <a href="{{ path('confirmOrder') }}">Confirm order</a>
{% endblock %}